.btn-add-cart {
    width: 100%;
    justify-content: center;
    color: #fff;
    margin-top: 10px;
    padding: 5px;
    background-color: #00a300;
    border: 2px solid darken(#00a300, 2%);
    cursor: pointer;
    &::after {
        font-size: 1.25em;
        content: ' +';
    }
}
.btn-checkout {
    @extend .btn-add-cart;
    width: 768px;
    margin-top: 0;
    display: none;
    &::after {
        content: '';
    }
    &[disabled]::after {
        content: '...';
    }
}
button:disabled {
    color: #000;
    background-color: #f2f2f2;
    border-color: darken(#f2f2f2, 2%);
}