.fantasy {
    width: 200px;
    margin: {
        right: 1em;
        bottom: 1em;
    }
    font-size: 15px;
    flex-direction: row;
    & > .figure {
        color: #666;
        padding-bottom: 5px;
        margin: 0 auto;
        display: block;
        box-shadow: 1px 1px 15px 6px #e2e2e2;
        & > img {
            max-width: 200px;
            max-height: 130px;
            height: auto;
        }
        & > .caption {
            text-align: center;
            margin: {
                top: .5em;
                bottom: .5em;
            }
            & > .price {
                color: #0a0a0a;
                font: {
                    weight: bold;
                    size: 1.2em;
                }
                display: block;
            }
        }
    }
}
