@import "resets";
@import "buttons";
@import "fantasy";

* {
    font-family: "Open Sans";
    box-sizing: border-box;
}

body {
    margin: 1em 0;
    padding: 0;
}

.container {
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

#fantasias {
    text-align: center;
}